*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background:#83AEBF;

    transition: all .5s ease;
    box-shadow: 0 1px 18px rgba(0,0,0,0.30), 0 1px 6px rgba(0,0,0,0.22);
}
.sidebar header{
    font-size: 22px;
    color:white;
    text-align: center;
    line-height: 68px;
    background:   #83AEBF;
    user-select: none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #454749;
    padding-left: 30px;
    box-sizing: border-box;
    display: block;
    transition: .1s;
    border-top: 1px solid rgba(255,255,255,.1);
    text-size-adjust: 5px;
    
  }
  
  .sidebar a:hover {
    padding-left: 50px;
    background-color: #E3E3E3;
    color: black;
  }
  .sidebar i{
    margin-right: 16px;
  }
  
  .card-top{
    box-shadow: 0 1px 18px rgba(0,0,0,0.30), 0 1px 6px rgba(0,0,0,0.22);
    background-color: #A9DBEF;
  }
  .card-top i{
      float: right;
      padding: 8px 8px 8px 32px;
      font-size: 50px;
      color: #454749;
      transition: .1s;
      border-top: 1px solid rgba(255,255,255,.1);
  }
  .card-top i:hover {
    color: black;
  }
  .card-top p{
     float: right;
      font-size: .9rem;
    }
    .card-top button{
      float: right;
      margin-top: 17px;
      margin-right: 5px;
     
    }
  .chip {
    margin-top: 8px;
   
    padding: 0 25px;

    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .card {
    width: 100%;
    height: 50%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 16px rgba(0,0,0,0.04);
    text-decoration: none;
    text-align: center;
   
  }  

#check{
    display: none;
   
}
label #btn, label #cancel{
    
    position:fixed;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(192, 192, 181);
}
label #btn{
    left: 60px;
    top: 10px;
   color: white;
    font-size: 35px;
    scroll-behavior: auto;
    padding: 6px 12px;
    transition:  all .5s;
}
label #cancel{
    z-index: 1111;
    left: -160px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 160px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 151px;
     
}
#check:checked ~ #main{
    margin-left: 200px;
     
}
#main{
    height: 100vh;
    transition: all .5s;   
}
.fondo{
    margin-left: 50px;
    margin-right: 5%;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    background: #f0f2f5;
    box-shadow: 0 1px 18px rgba(0,0,0,0.30), 0 1px 6px rgba(0,0,0,0.22);
    border-radius: 5px;
}
